.navbar {
  padding: 20px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgb(131, 131, 131);
  position: fixed;
}

.nav-header {
  font-weight: normal;
}

.navbar .fa-bars {
  cursor: pointer;
  border-radius: 50%;
  font-size: 25px;
  padding: 8px 10px;
  z-index: 2;
}

.navbar .fa-bars:hover {
  background: rgba(161, 161, 161, 0.459);
}

.nav-box {
  height: 100vh;
  width: 60%;
  position: absolute;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  box-shadow: 5px 5px 20px rgb(131, 131, 131);
  z-index: 1;
}

.backdrop {
  position: absolute;
  height: 100vh;
  width: 40%;
  background: rgba(0, 0, 0, 0.486);
  top: 0;
  left: 0;
}

.nav-box .nav-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.nav-box .nav-link-container {
  margin: 10px 0;
}
